*{
	font-family: Arial;
}

body{
	margin-top: 0;
}

/* Sidebar elements */

#rSide{
	display: block;
	position: absolute;
  margin-top: 0;
  height: 100%;
	width: 200px;
	top: 0px;
	right: 0px;
  background: #636363;
  background: linear-gradient(to right, #777777, #bdbcbc);
  color: yellow;
  border-radius: 5px;
}

#rSide img{
  display: block;
  width: 150px;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 0.5em #787878;
}

#rSide h2{
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
	font-weight: bold;
  text-align: center;
  color: #dadad5;
}

#rSide ul{
  margin-top: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 160%;
  color: #f3f3f3;
}

#rSide li, #rSide li a{
  color: #0b0969;
  text-decoration: none;
}

#rSide a.smallTxt{
  font-size: 10px;
  color: #892a2a;
  text-decoration: none;
}

#rSide img.liimg{
  display: inline-block;
  height: 12px;
  width: auto;
  margin-top: 0;
  margin-right: 10px;
  box-shadow: none;
}

/* blog elements */

#blog{
  height: 600px;
  overflow: scroll;  
}

.post{
  display: block;
  left: 25px;
  margin-right: 240px;
  line-height: 110%;
}

.post h4{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #dadada;
}

.post p{
  font-size: 12px;
  margin-bottom: 5px;
}

.post-foot p{
  text-align: right;
  color: blue;
  font-size: 10px;
}