*{
	font-family: Arial;
}

body{
	margin-top: 0;
}

h2{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#rSidebar{
	display: block;
	position: fixed;
	margin-top: 0;
	width: 200px;
	top: 0px;
	right: 0px;
	background-color: black;
	color: yellow;
}

li{
	font-size: 14px;
	line-height: 150%;
}

a{
	color: yellow;
}