*{
	font-family: Arial;
}

body{
	margin-top: 0;
}

h2{
  margin-top: 50px;
  font-size: 20px;
	font-weight: bold;
  text-align: center;
  color: #dadad5;
}

#rSidebar{
	display: block;
	position: fixed;
  margin-top: 0;
  height: 100%;
	width: 200px;
	top: 0px;
	right: 0px;
  background: #636363;
  background: linear-gradient(to right, #777777, #bdbcbc);
  color: yellow;
  border-radius: 5px;
}

img{
  display: block;
  width: 150px;
  height: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 0.5em #bbbbbb;
}

ul{
  list-style-type: none;
  font-size: 12px;
  line-height: 175%;
  color: #f3f3f3;
}

.smallTxt{
  font-size: 10px;
  color: #76feff;
}

a{
  color: #0b0969;
}